@mixin flex-space-between {
  display: flex;
  justify-content: space-between;
}

@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin flex-column {
  display: flex;
  flex-direction: column;
}

@mixin flex-space-around {
  display: flex;
  justify-content: space-around;
}

@mixin flex-space-evenly {
  display: flex;
  justify-content: space-evenly;
}

@mixin content {
  padding: 24px;
  margin: 16px;
  background: white;
  border-radius: 20px;
  max-height: 90vh;
  overflow-y: auto;
}
