@import "/src/shared/themes/mixin.scss";

.main-layout-body {
  background: rgb(235, 235, 235);
  display: flex;
  flex-direction: column;
}

.main-layout-container {
  display: flex;
  flex-direction: row;
  flex: 1;
}

.main-layout-content-wrapper {
  flex: 1;
  @include content;
}
